# Laboratory work #3

Import all significant libraries for this project.

In [91]:
# Import TensorFlow & Keras Libraries
import tensorflow as tf
from keras.layers import Dense, Flatten, Input, Rescaling
from keras.layers import Conv2D, MaxPool2D, RNN
from keras.losses import CategoricalCrossentropy, SparseCategoricalCrossentropy
from keras.optimizers import Adam
from keras.models import Model
from keras.utils import image_dataset_from_directory

# Import scikit-learn libraries
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split

# Import libraries for text cleaning
import re
import string
import nltk
from nltk.corpus import stopwords

# Import other libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pathlib

In [2]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Who\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

## Exercise 1

#### Downloading Dataset
Our dataset is Possible Asteroid Impacts with Earth (from [kaggle](https://www.kaggle.com/datasets/nasa/asteroid-impacts))

### Preprocessing Dataset

In [2]:
# Loading dataset to pandas DataFrame
asteroid_df = pd.read_csv("datasets\\asteroid_dataset\\asteroid_classification.csv")

In [3]:
# Drop unnecessary columns for analysis from the dataframe
asteroid_df.drop(["Object Name", "Epoch (TDB)", "Perihelion Argument (deg)", "Node Longitude (deg)",
                  "Mean Anomoly (deg)", "Perihelion Distance (AU)", "Aphelion Distance (AU)",
                  "Minimum Orbit Intersection Distance (AU)", "Orbital Reference"], axis=1, inplace=True)
print(asteroid_df.columns)

Index(['Object Classification', 'Orbit Axis (AU)', 'Orbit Eccentricity',
       'Orbit Inclination (deg)', 'Orbital Period (yr)', 'Asteroid Magnitude'],
      dtype='object')

In [4]:
# Drop null values of dataframe as we have only one null value
asteroid_df.dropna(inplace=True)
asteroid_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15634 entries, 0 to 15634
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Object Classification    15634 non-null  object
 1   Orbit Axis (AU)          15634 non-null  float64
 2   Orbit Eccentricity       15634 non-null  float64
 3   Orbit Inclination (deg)  15634 non-null  float64
 4   Orbital Period (yr)      15634 non-null  float64
 5   Asteroid Magnitude       15634 non-null  float64
dtypes: float64(5), object(1)
memory usage: 855.0+ KB

In [5]:
# Change class names
asteroid_df["Object Classification"].mask(asteroid_df["Object Classification"] == "Apollo Asteroid" ,
                                          "Apollo", inplace=True)
asteroid_df["Object Classification"].mask(asteroid_df["Object Classification"] == "Aten Asteroid",
                                          "Aten", inplace=True)
asteroid_df["Object Classification"].mask(asteroid_df["Object Classification"] == "Amor Asteroid",
                                          "Amor", inplace=True)
asteroid_df["Object Classification"].mask(asteroid_df["Object Classification"] == "Apohele Asteroid",
                                          "Apohele", inplace=True)
# Drop unnecessary class
necessary_class = ["Apollo", "Aten", "Amor"]
asteroid_df = asteroid_df[asteroid_df["Object Classification"].isin(necessary_class)]

In [6]:
def remove_outliers(dataframe, features):
    """Function to remove the outliers;
    :param dataframe: pandas DataFrame with data;
    :param features: list with features from dataframe.
    """
    # Copy dataframe to another variable
    dataframe_copy = dataframe.copy()

    # Iterate through features
    for feature in features:
        if dataframe[feature].dtype == object:
            continue
        # Calculate q1, q3 and iqr
        q3 = dataframe[feature].quantile(0.75)
        q1 = dataframe[feature].quantile(0.25)
        iqr = q3 - q1

        # Get local minimum and maximum
        local_min = q1 - (1.5 * iqr)
        local_max = q3 + (1.5 * iqr)

        # Remove the outliers
        dataframe_copy = dataframe_copy[(dataframe_copy[feature] >= local_min) &
                                        (dataframe_copy[feature] <= local_max)]

    return dataframe_copy

In [7]:
# Extract features from the df
asteroid_features = asteroid_df.columns.tolist()
print(asteroid_features)

['Object Classification', 'Orbit Axis (AU)', 'Orbit Eccentricity', 'Orbit Inclination (deg)', 'Orbital Period (yr)', 'Asteroid Magnitude']

In [8]:
# Remove outliers from the dataframe
asteroid_df = remove_outliers(asteroid_df, asteroid_features)

In [9]:
# View count of class names
print(asteroid_df.iloc[:, 0].value_counts())

Apollo    6651
Amor      5686
Aten       965
Name: Object Classification, dtype: int64

In [10]:
# Define number of classes
num_classes = len(necessary_class)

In [11]:
# Normalise dataset
norm_asteroid_df = asteroid_df.copy()
# apply normalization techniques
for column in norm_asteroid_df:
    if norm_asteroid_df[column].dtype == object:
        continue
    norm_asteroid_df[column] = norm_asteroid_df[column] / norm_asteroid_df[column].abs().max()
# View normalised dataset
print(norm_asteroid_df.head())

  Object Classification  Orbit Axis (AU)  Orbit Eccentricity  \
1                  Amor         0.807646            0.590282
2                  Amor         0.758732            0.610967
4                  Amor         0.587438            0.469295
8                  Amor         0.570204            0.427279
9                Apollo         0.418531            0.469619

   Orbit Inclination (deg)  Orbital Period (yr)  Asteroid Magnitude
1                 0.296677             0.727119            0.492063
2                 0.239656             0.661017            0.425397
4                 0.304293             0.450847            0.561905
8                 0.216477             0.430508            0.419048
9                 0.240286             0.271186            0.451746

In [12]:
# Edit name of column "Object Classification" with _
# For using this name in next cell
number_asteroid_df = norm_asteroid_df.copy()
number_asteroid_df.rename(columns={"Object Classification": "Object_Classification"}, inplace=True)
# Replace string class to numbers
obj_class = {"Apollo": 0, "Aten": 1, "Amor": 2}
number_asteroid_df.Object_Classification = [obj_class[item] for item in number_asteroid_df.Object_Classification]
# View new dataset
print(number_asteroid_df.head())

   Object_Classification  Orbit Axis (AU)  Orbit Eccentricity  \
1                      2         0.807646            0.590282
2                      2         0.758732            0.610967
4                      2         0.587438            0.469295
8                      2         0.570204            0.427279
9                      0         0.418531            0.469619

   Orbit Inclination (deg)  Orbital Period (yr)  Asteroid Magnitude
1                 0.296677             0.727119            0.492063
2                 0.239656             0.661017            0.425397
4                 0.304293             0.450847            0.561905
8                 0.216477             0.430508            0.419048
9                 0.240286             0.271186            0.451746

In [13]:
# One-hot Encoding the Object Classification Feature
one_hot = OneHotEncoder()
# Copy our dataset
onehot_asteroid_df = norm_asteroid_df.copy()
# Fitting one-hot encoder
encoded = one_hot.fit_transform(onehot_asteroid_df[["Object Classification"]])
onehot_asteroid_df[one_hot.categories_[0]] = encoded.toarray()
# Drop unnecessary "Object Classification" feature
onehot_asteroid_df.drop(["Object Classification"], axis=1, inplace=True)
print(onehot_asteroid_df.head())

   Orbit Axis (AU)  Orbit Eccentricity  Orbit Inclination (deg)  \
1         0.807646            0.590282                 0.296677
2         0.758732            0.610967                 0.239656
4         0.587438            0.469295                 0.304293
8         0.570204            0.427279                 0.216477
9         0.418531            0.469619                 0.240286

   Orbital Period (yr)  Asteroid Magnitude  Amor  Apollo  Aten
1             0.727119            0.492063   1.0     0.0   0.0
2             0.661017            0.425397   1.0     0.0   0.0
4             0.450847            0.561905   1.0     0.0   0.0
8             0.430508            0.419048   1.0     0.0   0.0
9             0.271186            0.451746   0.0     1.0   0.0

In [14]:
# Change data type in one-hot encoded column
column_dtype_dict = {"Amor": int,
                     "Apollo": int,
                     "Aten": int}
norm_onehot_asteroid_df = onehot_asteroid_df.astype(column_dtype_dict)
print(norm_onehot_asteroid_df.dtypes)
print(norm_onehot_asteroid_df.head())

Orbit Axis (AU)            float64
Orbit Eccentricity         float64
Orbit Inclination (deg)    float64
Orbital Period (yr)        float64
Asteroid Magnitude         float64
Amor                         int32
Apollo                       int32
Aten                         int32
dtype: object
   Orbit Axis (AU)  Orbit Eccentricity  Orbit Inclination (deg)  \
1         0.807646            0.590282                 0.296677
2         0.758732            0.610967                 0.239656
4         0.587438            0.469295                 0.304293
8         0.570204            0.427279                 0.216477
9         0.418531            0.469619                 0.240286

   Orbital Period (yr)  Asteroid Magnitude  Amor  Apollo  Aten
1             0.727119            0.492063     1       0     0
2             0.661017            0.425397     1       0     0
4             0.450847            0.561905     1       0     0
8             0.430508            0.419048     1       0     0
9             0.271186            0.451746     0       1     0

### Split Dataset to Train & Test sets

In [14]:
# Split Categorical Dataset
x = norm_asteroid_df.drop(["Object Classification"], axis=1)
y = norm_asteroid_df["Object Classification"]
# Split to train test sets
catg_X_train, catg_X_test, catg_y_train, catg_y_test = train_test_split(x, y, test_size=0.20)

In [15]:
# Split Numeric Dataset
x = number_asteroid_df.drop(["Object_Classification"], axis=1)
y = number_asteroid_df["Object_Classification"]
# Split to train test sets
num_X_train, num_X_test, num_y_train, num_y_test = train_test_split(x, y, test_size=0.20)

In [15]:
# Split One-Hot Dataset
x = norm_onehot_asteroid_df.drop(["Apollo", "Aten", "Amor"], axis=1)
y = norm_onehot_asteroid_df[["Apollo", "Aten", "Amor"]]
# Split to train test sets
# oneh_X_train, oneh_X_valid, oneh_X_test = np.split(x.sample(frac=1), [int(0.8*len(x)), int(0.9*len(x))])
# oneh_y_train, oneh_y_valid, oneh_y_test = np.split(y.sample(frac=1), [int(0.8*len(y)), int(0.9*len(y))])
oneh_train, oneh_valid, oneh_test = np.split(norm_onehot_asteroid_df.sample(frac=1), [int(0.8*len(norm_onehot_asteroid_df)), int(0.9*len(norm_onehot_asteroid_df))])

In [71]:
def df_to_dataset(dataframe, shuffle=True, batch_size=32):
    """
    Function for converting dataframe var to tf dataset.
    :param dataframe:
    :param shuffle:
    :param batch_size:
    :return:
    """
    # Copy dataframe to new vars
    df = dataframe.copy()
    df = df.drop(["Apollo", "Aten", "Amor"], axis=1)
    labels = dataframe[["Apollo", "Aten", "Amor"]]
    # Convert dataframe with data to tensor with concrete dtype -- float32
    df = tf.constant(df, dtype=tf.float32)
    # Make TensorFlow Dataset
    ds = tf.data.Dataset.from_tensor_slices((df, labels))
    # Optimize TF Dataset for loading to model
    if shuffle:
        ds = ds.shuffle(buffer_size=len(df))
    ds = ds.batch(batch_size)
    ds = ds.prefetch(batch_size)
    return ds

In [72]:
# Define batch size variable
batch_size = 32
# Get TensorFlow Dataset object
train_ds = df_to_dataset(oneh_train, batch_size=batch_size)
valid_ds = df_to_dataset(oneh_valid, shuffle=False, batch_size=batch_size)
test_ds = df_to_dataset(oneh_test, shuffle=False, batch_size=batch_size)

In [73]:
# View new train dataset
for onehot in train_ds.take(1):
    print(onehot)

(<tf.Tensor: shape=(32, 5), dtype=float32, numpy=
array([[0.691573  , 0.74822235, 0.05346096, 0.5762712 , 0.86031747],
       [0.74713033, 0.60881275, 0.23767088, 0.64576274, 0.6952381 ],
       [0.61165017, 0.52908856, 0.23881587, 0.4779661 , 0.7777778 ],
       [0.3599437 , 0.35811248, 0.3107529 , 0.21694915, 0.6920635 ],
       [0.51602435, 0.45593622, 0.32116282, 0.37118644, 0.74920636],
       [0.49398512, 0.4771601 , 0.10288757, 0.34745762, 0.85714287],
       [0.34473047, 0.37319544, 0.02777941, 0.20338982, 0.768254  ],
       [0.35721937, 0.37621203, 0.14390735, 0.21355931, 0.73968256],
       [0.33420062, 0.5287654 , 0.13169159, 0.19322033, 0.71746033],
       [0.5683063 , 0.38149107, 0.15756781, 0.42881355, 0.6507937 ],
       [0.41482753, 0.6149537 , 0.16654329, 0.2677966 , 0.7714286 ],
       [0.4875264 , 0.65513897, 0.69243616, 0.34067798, 0.7015873 ],
       [0.51841193, 0.6356389 , 0.69989526, 0.37288135, 0.584127  ],
       [0.33769017, 0.17420815, 0.6442519 , 0.19661017, 0.73650795],
       [0.6810126 , 0.5727214 , 0.5112309 , 0.56271183, 0.72063494],
       [0.76436377, 0.56453353, 0.31297627, 0.6694915 , 0.5714286 ],
       [0.9188833 , 0.6579401 , 0.67119366, 0.88135594, 0.5460318 ],
       [0.72086686, 0.6156001 , 0.2252963 , 0.6118644 , 0.7936508 ],
       [0.4911996 , 0.50107735, 0.27538633, 0.34406778, 0.5936508 ],
       [0.57901984, 0.6752855 , 0.02421637, 0.44067797, 0.75555557],
       [0.54188985, 0.326546  , 0.79395336, 0.4       , 0.64444447],
       [0.6080688 , 0.8165266 , 0.04215709, 0.47457626, 0.71746033],
       [0.6171294 , 0.856281  , 0.09354324, 0.48474577, 0.8       ],
       [0.50583124, 0.5985779 , 0.7416143 , 0.35932204, 0.6698413 ],
       [0.52667665, 0.38181427, 0.90027076, 0.38305086, 0.584127  ],
       [0.478374  , 0.2340013 , 0.54686385, 0.33050847, 0.64761907],
       [0.4604671 , 0.40088344, 0.440695  , 0.31355932, 0.6603175 ],
       [0.86047935, 0.679164  , 0.04443426, 0.7983051 , 0.7746032 ],
       [0.5658575 , 0.4154277 , 0.5599531 , 0.42542374, 0.6603175 ],
       [0.41403165, 0.13725491, 0.5191203 , 0.2661017 , 0.63809526],
       [0.39539012, 0.5279035 , 0.1425472 , 0.24915254, 0.83492064],
       [0.7672411 , 0.63520795, 0.30668524, 0.67288136, 0.784127  ]],
      dtype=float32)>, <tf.Tensor: shape=(32, 3), dtype=int32, numpy=
array([[1, 0, 0],
       [0, 0, 1],
       [1, 0, 0],
       [1, 0, 0],
       [1, 0, 0],
       [1, 0, 0],
       [1, 0, 0],
       [1, 0, 0],
       [1, 0, 0],
       [0, 0, 1],
       [1, 0, 0],
       [1, 0, 0],
       [1, 0, 0],
       [1, 0, 0],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [1, 0, 0],
       [1, 0, 0],
       [1, 0, 0],
       [0, 0, 1],
       [1, 0, 0],
       [1, 0, 0],
       [1, 0, 0],
       [0, 0, 1],
       [0, 0, 1],
       [1, 0, 0],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [1, 0, 0],
       [0, 0, 1]])>)

### Build model

In [11]:
def model_compile(model, loss_func, learn_rate=0.001):
    """
    Help function for compiling model;
    :param model: built model;
    :param loss_func: loss function for compiling;
    :param learn_rate: learning rate for optimizer.
    """
    model.compile(loss=loss_func,
                  optimizer=Adam(learning_rate=learn_rate),
                  metrics=["accuracy"])

In [75]:
# Set Input layer for input data
input_shape = len(asteroid_features)-1
inputs = Input(shape=(input_shape,), name="model_inputs")

In [76]:
# Set Dense (Fully Connected) layer with 100 hidden unit and "relu" activation function
x = Dense(100, activation="relu")(inputs)
# Set another Dense layer with 10 hidden unit and "relu" activation function
x = Dense(10, activation="relu")(x)
# Set output layer with num_classes hidden unit and "sigmoid" activation function
outputs = Dense(num_classes, activation="sigmoid")(x)

In [77]:
# Define our model
onehot_model = Model(inputs, outputs, name="onehot_model")

In [78]:
# View summary of the model
onehot_model.summary()

Model: "onehot_model"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 model_inputs (InputLayer)   [(None, 5)]               0

 dense_19 (Dense)            (None, 100)               600

 dense_20 (Dense)            (None, 10)                1010

 dense_21 (Dense)            (None, 3)                 33

=================================================================
Total params: 1,643
Trainable params: 1,643
Non-trainable params: 0
_________________________________________________________________

In [79]:
# Compile the model
model_compile(onehot_model, CategoricalCrossentropy())

### Fit model

In [80]:
# Fitting the model
onehot_history = onehot_model.fit(train_ds,
                                  batch_size=batch_size,
                                  epochs=10,
                                  validation_data=valid_ds,
                                  use_multiprocessing=True)

Epoch 1/10
333/333 [==============================] - 3s 4ms/step - loss: 0.7306 - accuracy: 0.6950 - val_loss: 0.5407 - val_accuracy: 0.7917
Epoch 2/10
333/333 [==============================] - 1s 4ms/step - loss: 0.4504 - accuracy: 0.8159 - val_loss: 0.3928 - val_accuracy: 0.8098
Epoch 3/10
333/333 [==============================] - 1s 4ms/step - loss: 0.3297 - accuracy: 0.8551 - val_loss: 0.2794 - val_accuracy: 0.9038
Epoch 4/10
333/333 [==============================] - 1s 4ms/step - loss: 0.2540 - accuracy: 0.9100 - val_loss: 0.2196 - val_accuracy: 0.9308
Epoch 5/10
333/333 [==============================] - 1s 4ms/step - loss: 0.2061 - accuracy: 0.9354 - val_loss: 0.1861 - val_accuracy: 0.9338
Epoch 6/10
333/333 [==============================] - 1s 4ms/step - loss: 0.1825 - accuracy: 0.9387 - val_loss: 0.1567 - val_accuracy: 0.9549
Epoch 7/10
333/333 [==============================] - 1s 4ms/step - loss: 0.1591 - accuracy: 0.9492 - val_loss: 0.1404 - val_accuracy: 0.9624
Epoch 8/10
333/333 [==============================] - 1s 4ms/step - loss: 0.1468 - accuracy: 0.9509 - val_loss: 0.1396 - val_accuracy: 0.9504
Epoch 9/10
333/333 [==============================] - 1s 4ms/step - loss: 0.1376 - accuracy: 0.9524 - val_loss: 0.1197 - val_accuracy: 0.9639
Epoch 10/10
333/333 [==============================] - 1s 4ms/step - loss: 0.1278 - accuracy: 0.9579 - val_loss: 0.1168 - val_accuracy: 0.9632

### Evaluate model

In [82]:
loss, accuracy = onehot_model.evaluate(test_ds)
print(f"Model loss on the test set: {loss}")
print(f"Model accuracy on the test set = {accuracy}")

42/42 [==============================] - 0s 3ms/step - loss: 0.1219 - accuracy: 0.9609
Model loss on the test set: 0.12188560515642166
Model accuracy on the test set = 0.960931658744812

Last best result on this data is that:
**model** - GridSearch(SVM)
**result** - accuracy = 0.99

Now result is
**model** - Fully connected feed-forward network
**result** - accuracy = 0.96

In summary, we can say model (GridSearch(SVM)) have best fit on this data!

## Exercise 2

#### Downloading Dataset
Our dataset is Food Classification Dataset (from [kaggle]())

### Preprocessing Dataset

In [94]:
def prepare_ds(dataset, shuffle=True, batch=32):
    """
    Help function for prepare dataset for better performance;
    :param dataset: TensorFlow Dataset object;
    :param shuffle: bool for define make shuffle or not;
    :param batch: size of batch in dataset;
    :return: normalized and prepared dataset.
    """
    if shuffle:
        dataset.shuffle(buffer_size=len(dataset))
    dataset.batch(batch)
    dataset.prefetch(batch)
    norm_layer = Rescaling(1./255)
    norm_ds = dataset.map(lambda x, y: (norm_layer(x), y))
    image_batch, labels_batch = next(iter(norm_ds))
    first_image = image_batch[0]
    print(np.min(first_image), np.max(first_image))

    return norm_ds

In [95]:
# Define train and test dir
train_dir = pathlib.Path("datasets\\10_food_classes_all_data\\train\\")
test_dir = pathlib.Path("datasets\\10_food_classes_all_data\\test\\")

In [96]:
train_dir

WindowsPath('datasets/10_food_classes_all_data/train')

In [97]:
# Define some important variable
batch_size = 32
image_size = (224, 224)
random_seed = 17
# Set train and test datasets
train_ds = image_dataset_from_directory(train_dir,
                                        label_mode="int",
                                        validation_split=0.2,
                                        subset="training",
                                        seed=random_seed,
                                        image_size=image_size,
                                        batch_size=batch_size)
val_ds = image_dataset_from_directory(train_dir,
                                      label_mode="int",
                                      validation_split=0.2,
                                      subset="validation",
                                      seed=random_seed,
                                      image_size=image_size,
                                      batch_size=batch_size)
test_ds = image_dataset_from_directory(test_dir,
                                       label_mode="int",
                                       seed=random_seed,
                                       image_size=image_size,
                                       batch_size=batch_size)

Found 7500 files belonging to 10 classes.
Using 6000 files for training.
Found 7500 files belonging to 10 classes.
Using 1500 files for validation.
Found 2500 files belonging to 10 classes.

In [98]:
# View on train Dataset
train_ds

In [100]:
# View on test Dataset
next(iter(train_ds))

(<tf.Tensor: shape=(32, 224, 224, 3), dtype=float32, numpy=
 array([[[[  9.        ,  12.        ,  27.        ],
          [  9.        ,  12.        ,  27.        ],
          [  9.        ,  12.        ,  27.        ],
          ...,
          [  9.642858  ,  11.642858  ,  26.642857  ],
          [  9.642858  ,  11.642858  ,  26.642857  ],
          [  9.642858  ,  11.642858  ,  26.642857  ]],

         [[  9.        ,  12.        ,  27.        ],
          [  9.        ,  12.        ,  27.        ],
          [  9.        ,  12.        ,  27.        ],
          ...,
          [  8.071428  ,  10.071428  ,  23.071428  ],
          [  8.071428  ,  10.071428  ,  23.071428  ],
          [  8.071428  ,  10.071428  ,  23.071428  ]],

         [[  9.214286  ,  12.        ,  26.571428  ],
          [  9.214286  ,  12.        ,  26.571428  ],
          [  9.214286  ,  12.        ,  26.571428  ],
          ...,
          [ 10.785714  ,  12.785714  ,  25.571428  ],
          [ 10.785714  ,  12.785714  ,  25.571428  ],
          [ 10.785714  ,  12.785714  ,  25.571428  ]],

         ...,

         [[ 37.95415   ,  41.95415   ,  42.95415   ],
          [ 30.071648  ,  34.071648  ,  35.071648  ],
          [ 36.571472  ,  40.571472  ,  41.571472  ],
          ...,
          [ 35.04591   ,  39.04591   ,  40.04591   ],
          [ 32.428772  ,  36.428772  ,  37.428772  ],
          [ 38.872627  ,  42.872627  ,  43.872627  ]],

         [[ 81.7983    ,  85.75237   ,  88.58908   ],
          [ 87.578835  ,  91.57373   ,  94.359406  ],
          [ 81.90544   ,  85.90544   ,  88.72173   ],
          ...,
          [ 81.54833   ,  85.54833   ,  88.390144  ],
          [ 87.578835  ,  91.50739   ,  94.29307   ],
          [ 80.65022   ,  84.65022   ,  87.46141   ]],

         [[244.77046   , 248.77046   , 251.77046   ],
          [240.44911   , 244.44911   , 247.44911   ],
          [244.48488   , 248.48488   , 251.20424   ],
          ...,
          [242.9083    , 246.9083    , 249.9083    ],
          [244.16347   , 248.16347   , 251.16347   ],
          [243.94395   , 247.94395   , 250.94395   ]]],


        [[[  4.        ,   4.        ,   4.        ],
          [  3.        ,   3.        ,   3.        ],
          [  3.        ,   3.        ,   1.        ],
          ...,
          [  1.        ,   1.        ,   1.        ],
          [  1.        ,   1.        ,   1.        ],
          [  1.        ,   1.        ,   1.        ]],

         [[  4.        ,   4.        ,   4.        ],
          [  3.        ,   3.        ,   3.        ],
          [  3.        ,   3.        ,   1.        ],
          ...,
          [  1.        ,   1.        ,   1.        ],
          [  1.        ,   1.        ,   1.        ],
          [  1.        ,   1.        ,   1.        ]],

         [[  4.        ,   4.        ,   4.        ],
          [  3.        ,   3.        ,   3.        ],
          [  3.        ,   3.        ,   1.        ],
          ...,
          [  1.        ,   1.        ,   1.        ],
          [  1.        ,   1.        ,   1.        ],
          [  1.        ,   1.        ,   1.        ]],

         ...,

         [[217.352     , 216.352     , 212.352     ],
          [218.21426   , 217.21426   , 213.21426   ],
          [219.21426   , 218.21426   , 214.21426   ],
          ...,
          [135.21426   , 130.21426   , 124.214264  ],
          [135.        , 130.        , 124.        ],
          [133.64282   , 128.64282   , 122.64282   ]],

         [[215.92856   , 214.92856   , 210.92856   ],
          [216.92856   , 215.92856   , 211.92856   ],
          [217.92856   , 216.92856   , 212.92856   ],
          ...,
          [136.22957   , 131.22957   , 125.22957   ],
          [135.06635   , 130.06635   , 124.06634   ],
          [133.28564   , 128.28564   , 122.285645  ]],

         [[213.64282   , 212.64282   , 208.64282   ],
          [214.5714    , 213.5714    , 209.5714    ],
          [215.64282   , 214.64282   , 210.64282   ],
          ...,
          [137.21426   , 132.21426   , 126.214264  ],
          [135.92856   , 130.92856   , 124.92856   ],
          [133.28564   , 128.28564   , 122.285645  ]]],


        [[[204.77042   , 218.77042   , 244.77042   ],
          [204.2143    , 218.2143    , 244.2143    ],
          [210.        , 224.42857   , 251.21428   ],
          ...,
          [186.        , 203.        , 210.78574   ],
          [187.07144   , 204.07144   , 212.07144   ],
          [188.58676   , 205.58676   , 213.58676   ]],

         [[203.73979   , 217.73979   , 243.73979   ],
          [206.        , 220.        , 246.        ],
          [205.62755   , 220.05612   , 246.05612   ],
          ...,
          [187.05612   , 202.05612   , 209.05612   ],
          [188.13777   , 202.13777   , 211.13777   ],
          [189.40309   , 203.40309   , 212.40309   ]],

         [[205.71939   , 219.93367   , 245.29082   ],
          [206.78572   , 220.78572   , 246.78572   ],
          [206.78572   , 221.21428   , 247.        ],
          ...,
          [186.95409   , 199.95409   , 207.86226   ],
          [188.07144   , 201.07144   , 209.07144   ],
          [189.28064   , 202.28064   , 211.06636   ]],

         ...,

         [[187.        , 199.        , 211.        ],
          [188.92857   , 200.92857   , 213.3571    ],
          [188.83163   , 200.83163   , 214.83163   ],
          ...,
          [186.38261   , 202.59688   , 224.95409   ],
          [185.9847    , 202.19896   , 224.55617   ],
          [184.92348   , 201.13774   , 223.49495   ]],

         [[188.        , 200.        , 212.        ],
          [188.93367   , 200.93367   , 212.93367   ],
          [187.9847    , 199.9847    , 212.41327   ],
          ...,
          [186.0153    , 202.0153    , 225.0153    ],
          [185.06635   , 201.06635   , 224.06635   ],
          [186.33167   , 202.33167   , 225.33167   ]],

         [[188.77042   , 200.77042   , 212.77042   ],
          [189.        , 201.        , 213.        ],
          [187.78572   , 199.78572   , 211.78572   ],
          ...,
          [186.70918   , 202.70918   , 225.70918   ],
          [184.04593   , 200.04593   , 223.04593   ],
          [185.2296    , 201.2296    , 224.2296    ]]],


        ...,


        [[[ 54.688774  ,  46.561222  ,  32.15816   ],
          [ 49.44898   ,  39.239796  ,  23.836735  ],
          [ 52.632652  ,  39.0051    ,  23.005102  ],
          ...,
          [118.35713   , 108.57143   ,  80.71425   ],
          [118.500015  , 110.428604  ,  74.78566   ],
          [124.08672   , 116.08672   ,  77.80102   ]],

         [[ 42.826527  ,  38.68367   ,  28.806122  ],
          [ 46.719387  ,  39.714287  ,  29.5       ],
          [ 44.02551   ,  36.311226  ,  25.02551   ],
          ...,
          [121.785706  , 115.72958   ,  83.89795   ],
          [120.13774   , 115.86226   ,  81.14282   ],
          [121.56633   , 116.806114  ,  81.97449   ]],

         [[ 35.040813  ,  31.612246  ,  26.964287  ],
          [ 41.392857  ,  36.392857  ,  32.25      ],
          [ 42.19388   ,  35.62245   ,  28.051022  ],
          ...,
          [119.33674   , 116.4745    ,  81.85717   ],
          [118.12752   , 117.42857   ,  86.071465  ],
          [117.99491   , 116.571434  ,  86.71939   ]],

         ...,

         [[106.78567   , 101.280556  ,  73.71938   ],
          [107.41322   , 102.41322   ,  73.19896   ],
          [109.2347    , 104.5714    ,  75.18879   ],
          ...,
          [110.06637   , 103.4694    ,  69.545944  ],
          [105.68357   ,  97.22954   ,  61.397865  ],
          [105.9285    ,  97.71423   ,  61.07144   ]],

         [[109.16833   , 101.16833   ,  79.50508   ],
          [110.92856   , 102.99488   ,  79.92858   ],
          [112.66838   , 105.42854   ,  79.699     ],
          ...,
          [115.3877    , 106.26013   ,  75.775475  ],
          [109.35195   , 102.20403   ,  74.275505  ],
          [108.52548   , 102.193855  ,  75.76533   ]],

         [[103.484634  ,  95.484634  ,  76.025475  ],
          [110.765274  ,  99.765274  ,  79.67345   ],
          [114.71432   , 103.71432   ,  81.86739   ],
          ...,
          [111.862305  , 101.0766    ,  71.87257   ],
          [110.92859   , 103.44911   ,  80.54615   ],
          [105.199005  ,  99.48471   ,  80.07147   ]]],


        [[[ 16.67347   ,  31.67347   ,  38.67347   ],
          [ 17.90306   ,  32.903065  ,  39.903065  ],
          [ 15.64796   ,  30.64796   ,  37.64796   ],
          ...,
          [129.84691   , 161.27544   , 190.70396   ],
          [126.357155  , 157.35716   , 186.35716   ],
          [129.35721   , 160.35721   , 188.35721   ]],

         [[ 17.051018  ,  32.051018  ,  39.05102   ],
          [ 18.729593  ,  33.72959   ,  40.72959   ],
          [ 16.459185  ,  31.459185  ,  38.459183  ],
          ...,
          [130.2755    , 161.2755    , 190.70403   ],
          [130.9949    , 159.9949    , 189.9949    ],
          [133.31126   , 162.31126   , 192.31126   ]],

         [[  8.168368  ,  23.168367  ,  29.739796  ],
          [ 14.632654  ,  29.632654  ,  36.204082  ],
          [ 21.44898   ,  35.68367   ,  42.637753  ],
          ...,
          [129.44905   , 155.61737   , 188.70921   ],
          [132.51529   , 159.08673   , 189.30101   ],
          [130.71936   , 157.29079   , 187.50508   ]],

         ...,

         [[ 18.128054  ,  23.561785  ,  19.699526  ],
          [ 14.255497  ,  19.612705  ,  15.826969  ],
          [ 13.974876  ,  19.974876  ,  15.974876  ],
          ...,
          [248.75511   , 247.80101   , 246.48972   ],
          [244.65323   , 233.39299   , 208.75014   ],
          [171.56541   , 152.2848    , 102.57053   ]],

         [[  1.408421  ,   5.882932  ,   1.8829322 ],
          [  1.219611  ,   6.224727  ,   2.2247272 ],
          [  1.5409544 ,   7.5409546 ,   3.5409544 ],
          ...,
          [245.4847    , 248.301     , 248.09682   ],
          [225.56622   , 219.76523   , 203.27025   ],
          [223.23499   , 210.13805   , 175.42372   ]],

         [[  9.968994  ,  15.968994  ,  11.968994  ],
          [ 11.433054  ,  17.101389  ,  13.101389  ],
          [ 15.784912  ,  21.784912  ,  17.784912  ],
          ...,
          [240.76031   , 247.55617   , 243.54083   ],
          [243.24925   , 243.53998   , 229.84608   ],
          [154.71384   , 147.25462   , 121.943436  ]]],


        [[[ 75.12755   , 115.99681   , 144.06218   ],
          [ 76.80198   , 117.80198   , 147.80197   ],
          [ 72.29146   , 109.963646  , 143.01085   ],
          ...,
          [ 57.334114  ,  65.69132   ,  64.90559   ],
          [ 50.315647  ,  59.315647  ,  56.315647  ],
          [ 18.667942  ,  28.792538  ,  24.792538  ]],

         [[ 77.77168   , 116.76308   , 146.76753   ],
          [ 78.64349   , 118.54528   , 150.1926    ],
          [ 76.182076  , 111.75351   , 147.06601   ],
          ...,
          [ 35.38913   ,  43.746338  ,  42.9606    ],
          [ 42.8808    ,  51.8808    ,  49.97901   ],
          [ 42.981323  ,  52.88311   ,  49.432217  ]],

         [[ 76.4662    , 111.71461   , 143.00638   ],
          [ 76.11065   , 112.36511   , 146.14955   ],
          [ 84.05868   , 118.19196   , 155.32143   ],
          ...,
          [  1.6358528 ,   8.489613  ,   7.7038765 ],
          [  6.658497  ,  15.658497  ,  14.658497  ],
          [ 17.402327  ,  26.402327  ,  23.402327  ]],

         ...,

         [[166.71518   , 190.71518   , 218.60611   ],
          [170.59528   , 191.59528   , 220.43771   ],
          [170.46454   , 191.46454   , 220.33122   ],
          ...,
          [ 12.2242775 ,  15.187922  ,  19.456394  ],
          [  9.7844305 ,  12.680134  ,  17.294855  ],
          [ 13.463774  ,  16.620972  ,  20.712704  ]],

         [[158.23209   , 181.16927   , 207.14279   ],
          [160.68744   , 182.10612   , 207.9285    ],
          [160.88068   , 182.13834   , 208.31084   ],
          ...,
          [  1.4171449 ,   3.2800446 ,   4.6343307 ],
          [  5.77966   ,   6.264337  ,   7.3947554 ],
          [ 68.18368   ,  67.50888   ,  69.05798   ]],

         [[138.04587   , 159.98051   , 184.1766    ],
          [139.11124   , 161.09816   , 185.13737   ],
          [139.71487   , 161.2863    , 185.57903   ],
          ...,
          [  0.57520247,   1.4584191 ,   3.2441552 ],
          [  4.191408  ,   2.5896533 ,   3.3613474 ],
          [ 63.684364  ,  58.285683  ,  60.10267   ]]]], dtype=float32)>,
 <tf.Tensor: shape=(32,), dtype=int32, numpy=
 array([9, 4, 2, 0, 9, 7, 2, 5, 7, 2, 9, 8, 7, 0, 3, 6, 3, 9, 3, 0, 2, 9,
        9, 8, 9, 3, 3, 6, 8, 3, 9, 3])>)

In [102]:
train_ds.class_names

['chicken_curry',
 'chicken_wings',
 'fried_rice',
 'grilled_salmon',
 'hamburger',
 'ice_cream',
 'pizza',
 'ramen',
 'steak',
 'sushi']

In [103]:
# View number of classes
num_image_classes = len(train_ds.class_names)
print(num_image_classes)

10

In [105]:
# Prepare dataset for better performance
train_ds = prepare_ds(train_ds)
val_ds = prepare_ds(val_ds)
test_ds = prepare_ds(test_ds)

0.0 0.8341549
0.0 1.0
0.0 1.0

### Build model

In [118]:
# Set Input layer for input data
image_shape = None
for images in train_ds.take(1):
    image_shape = images[0].shape[1:]
print(f"image shape = {image_shape}")
inputs = Input(shape=image_shape, name="model_inputs")

image shape = (224, 224, 3)

In [119]:
# Set Convolution layers
x = Conv2D(10, 3, activation="relu")(inputs)
x = Conv2D(10, 3, activation="relu")(x)
# Set Max Pooling 2D layer
x = MaxPool2D()(x)
# Set another Convolution layers
x = Conv2D(10, 3, activation="relu")(x)
x = Conv2D(10, 3, activation="relu")(x)
# Set another Max Pooling 2D layer
x = MaxPool2D()(x)
# Set Flatten and finish Dense (Fully connected) layers
x = Flatten()(x)
outputs = Dense(num_image_classes, activation="softmax")(x)

In [120]:
# Define model object
conv_model = Model(inputs, outputs, name="convolution_model")

In [121]:
# Compile the model
model_compile(conv_model, SparseCategoricalCrossentropy(), learn_rate=0.0001)

## Fit model

In [122]:
# Fit model with train and test data
conv_history = conv_model.fit(train_ds,
                              batch_size=batch_size,
                              epochs=10,
                              validation_data=val_ds,
                              use_multiprocessing=True
                              )

Epoch 1/10
188/188 [==============================] - 18s 88ms/step - loss: 2.2160 - accuracy: 0.1808 - val_loss: 2.1406 - val_accuracy: 0.2093
Epoch 2/10
188/188 [==============================] - 17s 87ms/step - loss: 2.0303 - accuracy: 0.2778 - val_loss: 2.0169 - val_accuracy: 0.2787
Epoch 3/10
188/188 [==============================] - 18s 96ms/step - loss: 1.8863 - accuracy: 0.3487 - val_loss: 1.9372 - val_accuracy: 0.3160
Epoch 4/10
188/188 [==============================] - 18s 93ms/step - loss: 1.7710 - accuracy: 0.4008 - val_loss: 1.9304 - val_accuracy: 0.3300
Epoch 5/10
188/188 [==============================] - 17s 88ms/step - loss: 1.6830 - accuracy: 0.4328 - val_loss: 1.9332 - val_accuracy: 0.3260
Epoch 6/10
188/188 [==============================] - 17s 89ms/step - loss: 1.5791 - accuracy: 0.4745 - val_loss: 1.9405 - val_accuracy: 0.3267
Epoch 7/10
188/188 [==============================] - 17s 89ms/step - loss: 1.4743 - accuracy: 0.5117 - val_loss: 2.0088 - val_accuracy: 0.3267
Epoch 8/10
 88/188 [=============>................] - ETA: 8s - loss: 1.3610 - accuracy: 0.5732

KeyboardInterrupt

## Evaluate model

In [15]:
loss, accuracy = conv_model.evaluate(test_ds)
print(f"Model loss on the test set: {loss}")
print(f"Model accuracy on the test set: {accuracy}")

79/79 [==============================] - 7s 89ms/step - loss: 5.7694 - accuracy: 0.1672
Model loss on the test set: 5.769413471221924
Model accuracy on the test set: 0.1671999990940094

In summary, we have that result:
**model** -- Convolution Neural Network (CNN)
**result** -- accuracy = ; loss = ;

## Exercise 3

#### Downloading Dataset
Our dataset is Emotion Detection from Text (from [kaggle](https://www.kaggle.com/datasets/pashupatigupta/emotion-detection-from-text?resource=download))